[submodule "frontend"]
	path = frontend
	url = https://github.com/carloscacho/frontend-todocheck-mirror.git
[submodule "backend"]
	path = backend
	url = https://github.com/carloscacho/backend-todocheck-mirror.git
