[submodule "frontend-todocheck-mirror"]
	path = frontend-todocheck-mirror
	url = https://github.com/carloscacho/frontend-todocheck-mirror.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/carloscacho/frontend-todocheck-mirror.git
